{% extends "base.html" %}
                                                                                                                                                                        
{% block content %}
    <h1>Sentiment Dashboard</h1>                                                                                                                                         
    <canvas id="sentimentChart"></canvas>                                                                                                                                
    <script>
        const dates = {{ dates | tojson }};                                                                                                                              
        const scores = {{ scores | tojson }};                                                                                                                          
        const ctx = document.getElementById('sentimentChart');
        new Chart(ctx, {
            type: 'line',                                                                                                                                                
            data: {
                labels: dates,                                                                                                                                           
                datasets: [{                                                                                                                                           
                    label: 'Weighted Sentiment',
                    data: scores,
                }]
            }
        });
    </script>
    <canvas id="distributionChart"></canvas>                                                                                                                             
    <script>
        const years = {{ years | tojson }};                                                                                                                              
        const positive_ratio = {{ positive_ratio | tojson }};                                                                                                          
        const negative_ratio = {{ negative_ratio | tojson }};
        const neutral_ratio = {{ neutral_ratio | tojson }};                                                                                                              
        const ctx2 = document.getElementById('distributionChart');
        new Chart(ctx2, {                                                                                                                                                
            type: 'bar',                                                                                                                                               
            data: {
                labels: years,
                datasets: [
                    { label: 'Positive', data: positive_ratio },                                                                                                         
                    { label: 'Neutral', data: neutral_ratio },
                    { label: 'Negative', data: negative_ratio }                                                                                                          
                ]                                                                                                                                                      
            }
        });
    </script>                                                                                                                                                            
{% endblock %}